body {
    background-color: blanchedalmond;
}

/*Links in Navbar*/
#shop-nav-link {
    color: crimson;
    font-size: 20.5px;
    margin-left: 12px;
    padding-left: 10px;
}

/*Shopping Cart buttons*/
.btn {
    background-color: coral;
    color: firebrick;
    font-size: 17.5px;
    border: solid 3px;
    border-radius: 1rem;
    margin: 10px;
}

/*Main Heading styling*/
#head{
    font-size: 25.5px;
    color: rgb(117, 3, 60);
    text-align: center;
}

/*Content Paragraph Headings*/
#head2{
    color: rgb(3, 3, 175);
    font-size: 25.5px;
    text-align: center;
}

/*Card Styles*/
.card{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    background-color: peachpuff;
}

/*Card Images*/
.card-img-top{
    width: 300px;
}

/*Card Titles*/
.card-title{
    font-size: 17.5px;
    color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px
}

/*Card Prices*/
.card-text{
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px
}

/* Card Descriptions */
.des{
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Add to Cart Buttons*/
.add-to-cart{
    font-size: 17.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 12px;
}

/*Carousel Container*/
.carousel{
    justify-content: center;
    width: 800px;
    height: 800px;
}


/*Carousel Images*/
.carousel-item{
    width: 600px;
    height: 750px;

}

/*Carousel Headings*/
.carousel-head{
    color: rgb(255, 244, 26);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px;
    font-size: 30px;
    font-weight: bolder;
}

/*Carousel Paragraphs*/
.carousel-par{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
   color: rgb(212, 30, 30);
   font-size: 21.5px;
}

/*Carousel Arrows*/
.carousel-control-next-icon, .carousel-control-prev-icon {
    color: red;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Carousel Arrow Text*/
.sr-only{
    color: rgb(255, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: bolder; */
}

/*Carousel Captions*/
.carousel-caption{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* Footer Styles */
.foot{
    font-size: 22px;
    background-color: lawngreen;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}



         /* MEDIA QUERIES */
@media (320px <=width <=480px){
    /*Card Styles*/
.card{
    width: 220px;
    display: flex;
    flex: 0 0 auto;
    }
}








@media (width >=1025px){
    /* Card Styles */
    .card{
        display: flex;
        flex: 0 0 auto;
    }
}