body {
    background-color: blanchedalmond;
}

/*Links in Navbar*/
#nav-link {
    color: crimson;
    font-size: 20.5px;
}

/*Main Headings' Styles*/
#head {
    font-size: 25.5px;
    color: rgb(117, 3, 60);
    text-align: center;
}

/*Second Headings' Styles*/
#head2 {
    color: rgb(3, 3, 175);
    font-size: 25.5px;
}

/*Content Paragraphs Styling*/
#first {
    font-size: x-large;
}

/*Image for Cards Styling*/
.img {
    size: 200px;
    max-width: 1000px;
    border: 4px solid aqua;
}

/*Body within Card Styling*/
.card-body {
    background-color: rgb(157, 232, 229);
    border: 4px solid aqua;
}

/*card's title*/
.card-title {
    color: blue;
    font-size: 30px;
}

/*Paragraph within Cards Styling*/
.card-par {
    font-size: 17px;
}

/*List of Icons*/
.list-inline-item {
    font-size: 22px;
    width: 200px;
    color: darkmagenta;
}

/*Contact Page's Container for Form*/
.container {
    display: grid;
    height: 1000px;
}

/*Styles for Input Field Containers*/
.input {
    width: 100%;
    padding: 15px;
    margin: 1px;
    border: none;
    opacity: 75%;
}

/*Input Field Text Styles*/
input,
select,
textarea {
    color: black;
    font-size: x-large;
}

/*Image Inside Contact Page's Form*/
.form-img {
    background-image: url(./img/cat\ dog.avif);

    /*Centers and scales image*/
    background-position: center;
    background-repeat: no-repeat;

    /* contain reduces size*/
    background-size: contain;
    position: relative;
}

/* Store Map Image*/
/*.map{
    position: center;
} */


/*Store Info Styles*/
.hrs {
    color: black;
    font-size: 25px;
}

/* Footer Styles */
.foot {
    font-size: 17.5px;
    background-color: lawngreen;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/*Media Queries*/
@media (width < 320px){
    #nav-link {
        color: rgb(136, 150, 5);
        font-size: 17.5px;
        margin-left: 8px;
    }

    /*1st headings' styles*/
    #head {
        font-size: 18.8px;
        text-align: center;
        color: rgb(136, 150, 5);
        margin: 8px;
    }

    /*2nd headings' styles*/
    #head2 {
        font-style: oblique;
        color: rgb(181, 54, 0);
        margin-left: 11px;
        font-size: 15.8px;
    }

    /*content paragraphs*/
    #first {
        font-size: 15px;
        color: rgb(0, 91, 183);
        margin-left: 11px;
    }


    /*  card container */
    .card{
        margin: 12px;
    }

    /*cards' image*/
    .img {
        size: 50px;
        max-width: 600px;
        border: 4px dotted rgb(87, 1, 172);
    }

    .card-body {
        background-color: rgb(192, 107, 164);
        height: 274.5px;
        border: 4px dotted rgb(192, 107, 164);
    }

    /*cards' title*/
    .card-title {
        font-size: 21px;
    }

    /*paragraphs in card*/
    .card-par {
        font-size: 11.5px;
    }

    /*Services Styling*/
    #icon {
        color: rgb(10, 95, 95);
        text-align: center;
    }

    /*Input fields' text styles*/
    input,
    select,
    textarea {
        color: rgb(78, 1, 16);
        font-size: x-large;
    }

    /*list of icons*/
    .list-inline-item {
        font-size: 50px;
        width: 200px;
    }

    /*Store Info Styling*/
    .hrs {
        font-size: 26.5px;
        font-style: italic;
        color: rgb(42, 117, 117);
    }

    /*FB and Twitter Icons*/
    .list-inline-item {
        font-size: x-large;
        font-style: oblique;
        color: rgb(3, 139, 55);
    }

    /*footer styles*/
    .foot {
        font-size: .85rem;
        margin-bottom: 0;
    }
}




@media (320px <=width <=480px) {
    #nav-link {
        color: rgb(3, 139, 55);
        font-size: 15px;
        margin-left: 8px;
    }

    /*1st headings' styles*/
    #head {
        font-size: 20px;
        text-align: center;
        color: cadetblue;
        margin: 8px;
    }

    /*2nd headings' styles*/
    #head2 {
        font-style: oblique;
        color: darkorange;
        margin-left: 8px;
    }

    /*content paragraphs*/
    #first {
        font-size: 20px;
        color: darkblue;
        margin-left: 8px;
    }


    /*  card container */
    .card{
        margin: 12px;
    }

    /*cards' image*/
    .img {
        size: 50px;
        max-width: 600px;
        border: 4px dotted magenta;
    }

    .card-body {
        background-color: rgb(197, 142, 179);
        height: 274.5px;
        border: 4px dotted magenta;
    }

    /*cards' title*/
    .card-title {
        font-size: 20px;
    }

    /*paragraphs in card*/
    .card-par {
        font-size: 11.7px;
    }

    /*Services Styling (About Page)*/
    #icon {
        color: rgb(10, 95, 95);
        text-align: center;
    }

    /* Form's Container */
    .container {
        display: grid;
        height: 980px;
        width: 292.8px;
        margin-left: -24px;
        padding: 2rem;           /* Creates space so text doesn't touch the edges */
        border-radius: 8px;      /* Rounds the corners of the image background */
        box-sizing: border-box;  /* Ensures padding doesn't break the width */
    }


    /* Whole Form Styles */
    .d-flex.flex-column {
        max-width: 212.5px;         /* Leave some room on the edges */
        font-size: 16px;    /* 16px prevents iOS from "zooming in" on focus */
        background-image: url(./img/cat\ dog.avif);
        padding: 1rem;

        /*Centers and scales image*/
        background-position: center;
        background-repeat: no-repeat;

        /* contain reduces size*/
        background-size: contain;
        /* position: relative; */
    }


    /* Input Specifics */
    .input[type=text]{
         width: 100%;           /* Makes the input fill the container */
         max-width: 212.5px;       /* Safety net to prevent it from ever going outside */
         box-sizing: border-box; /* IMPORTANT: Ensures padding doesn't push it wider */
    }

    /*Input fields' text styles (Contact Page)*/
    input,
    select,
    textarea {
        font-size: medium;
    }

    /* Placeholder Styles */
    input::placeholder [type= submit]{
        color: rgb(118, 0, 0)
    }

    .input[type=submit]{
        margin-right: 4px;
        margin-top: 6px;
    }


    /*FB and Twitter Icons*/
    .list-inline-item {
        font-size: x-large;
        font-style: oblique;
        color: rgb(3, 139, 55);
    }

    /*footer styles*/
    .foot {
        font-size: .85rem;
        margin-bottom: 0;
        /*padding-block: 1rem;*/ /* Reduces space at the top and bottom */
        /*padding-inline: 0;*/   /* Keeps side padding as needed */
        /* min-height: 14px;
        height: auto;
        align-items: center;
        justify-content: center; */
    }
}



@media (481px <=width <=768px) {
    #nav-link {
        font-size: 25px;
        color: darkslateblue;
        margin-left: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*1st headings' styles*/
    #head {
        font-size: 24px;
        text-align: center;
        color: darkmagenta;
        font-family: 'Times New Roman', Times, serif;
    }

    /*2nd headings' styles*/
    #head2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: darkviolet;
        margin-left: 25px;
    }

    /*content paragraphs*/
    #first {
        font-size: 20px;
        color: indigo;
        margin-left: 25px;
    }

    .p{
        margin: 25px;
    }

    /* card container */
    .card{
        margin: 25px;
        max-width: 623px;
    }

    /*cards' image*/
    .img {
        size: 28px;
        max-width: 623px;
        border: 4px dashed rgb(99, 0, 99);
    }

    .card-body {
        background-color: rgb(253, 195, 234);
        border: 4px dashed rgb(99, 0, 99)
    }

    /*cards' title*/
    .card-title {
        font-size: 30px;
        color: rgb(51, 0, 0);
    }

    /*paragraphs in card*/
    .card-par {
        font-size: 22px;
        color: darkred;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*Services Styling*/
    #icon {
        color: goldenrod;
        text-align: center;
    }

    /* Icons' Container */
    .icons{
        display: flex;     /* Enables the flexbox layout */
        flex-direction: row;     /* Forces items to stay in a line (default) */
        justify-content: center; /* Centers icons horizontally */
        gap: 12px;               /* Modern way to add even space between icons */
    }

    /*Input fields' text styles*/
    input,
    select,
    textarea {
        color: darkcyan;
        font-size: x-large;
    }

    /*Contact Page's Container for Form*/
    .container {
        display: grid;
        height: 980px;
        background-image: no-repeat;
    }

    /*Styles for Input Field Containers*/
    .input {
        width: 100%;
        padding: 8px;
        margin: 1px;
        opacity: 75%;
    }

    /*Centers and scales image*/
    .form-img {
        display: block;
        margin: 0;
        padding: 0;

        /* background-position: 100%;
    background-repeat: no-repeat; */

        /*contain reduces size*/
        /* background-size: auto;*/
    }

    /*list of icons*/
    .list-inline-item {
        font-size: 50px;
        width: 200px;
    }

    /*Store Info Styling*/
    .hrs {
        font-size: 26.5px;
        font-style: italic;
        color: rgb(42, 117, 117);
    }

    /*FB and Twitter Icons*/
    .list-inline-item {
        font-size: x-large;
        font-style: oblique;
        color: darkblue;
    }

    /*footer styles*/
    .foot {
        font-size: 17.5px;
    }
}


@media (769px <=width <=1024px) {
    #nav-link {
        font-size: 25px;
        color: rgb(15, 2, 98);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /*1st headings' styles*/
    #head {
        font-size: 35px;
        text-align: center;
        color: rgb(187, 2, 187);
        font-family: serif;
    }

    /*2nd headings' styles*/
    #head2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 34px
    }

    /*content paragraphs*/
    #first {
        font-size: 20px;
        color: rgb(46, 27, 93);
    }

    /* card container */
    .card{
        margin: 12px;
    }


    /*cards' image*/
    .img {
        size: 28px;
        max-width: 380px;
        border: 4px ridge rgb(201, 92, 165);
    }


    .card-body {
        background-color: rgb(226, 159, 204);
        border: 4px ridge rgb(201, 92, 165);
    }

    /*cards' title*/
    .card-title {
        font-size: 30px;
        font-family: cursive;
        color: rgb(151, 14, 96);
    }

    /*paragraphs in card*/
    .card-par {
        font-size: 28px;
        color: rgb(172, 46, 140);
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Services Styling*/
    #icon {
        color: rgb(140, 7, 54);
        text-align: center;
    }

    /*Input fields' text styles*/
    input,
    select,
    textarea {
        color: rgb(2, 85, 167);
        font-size: x-large;
    }

    /*Contact Page's Container for Form*/
    .container {
        display: grid;
        height: 980px;
    }

    /*Styles for Input Field Containers*/
    .input {
        width: 100%;
        padding: 8px;
        margin: 1px;
        opacity: 75%;
    }

    /*Centers and scales image*/
    .form-img {
        display: block;
        margin: 0;
        padding: 0;

        /* background-position: 100%;
    background-repeat: no-repeat; */

        /*contain reduces size*/
        /* background-size: auto;*/
    }

    /*list of icons*/
    .list-inline-item {
        font-size: 50px;
        width: 200px;
    }

    /*Store Info Styling*/
    .hrs {
        font-size: 26.5px;
        font-style: italic;
        color: rgb(42, 117, 117);
    }

    /*FB and Twitter Icons*/
    .list-inline-item {
        font-size: x-large;
        font-style: oblique;
        color: darkblue;
    }

    /*footer styles*/
    .foot {
        font-size: 17.5px;
    }
}


@media (width >=1025px) {
    #nav-link {
        font-size: 30px;
        color: orange;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: bolder;
        margin: 12px;
    }

    /*1st headings' styles*/
    #head {
        font-size: 25px;
        text-align: center;
        color: rgb(44, 109, 111);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /*2nd headings styles*/
    #head2 {
        font-size: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(44, 13, 13);
        margin: 12px;
    }

    /*content paragraphs*/
    #first {
        font-size: 27.5px;
        color: rgb(39, 2, 65);
        margin: 12px;
    }


    /* card container */
    .card{
        margin: 12px;
    }


    /*cards' image*/
    .img {
        size: 28px;
        max-width: 480px;
        border: 4px double rgb(60, 77, 187);
    }


    .card-body {
        background-color: rgb(125, 164, 227);
        /* margin: 17px; */
        border: 4px double rgb(60, 77, 187);
    }

    /*cards' title*/
    .card-title {
        font-size: 30px;
        color: aqua;
    }

    /*paragraphs in card*/
    .card-par {
        font-size: 22px;
        color: rgb(15, 7, 70);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*Services Styling*/
    #icon {
        color: rgb(118, 4, 4);
        text-align: center;
    }

    /*Input fields' text styles*/
    input,
    select,
    textarea {
        color: rgb(1, 185, 185);
        font-size: x-large;
    }

    /*Contact Page's Container for Form*/
    .container {
        display: grid;
        height: 980px;
    }

    /*Styles for Input Field Containers*/
    .input {
        width: 100%;
        padding: 8px;
        margin: 1px;
        opacity: 75%;
    }

    /*Centers and scales image*/
    .form-img {
        display: block;
        margin: 0;
        padding: 0;
    }

    /*list of icons*/
    .list-inline-item {
        font-size: 50px;
        width: 200px;
    }

    /*Store Info Styling*/
    .hrs {
        font-size: 26.5px;
        font-style: bold;
        font-style: italic;
        color: rgb(129, 183, 36);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*FB and Twitter Icons*/
    .list-inline-item {
        font-size: x-large;
        font-style: oblique;
        color: rgb(176, 44, 94);
    }

    /*footer styles*/
    .foot {
        font-size: 20.5px;
        background-color: rgb(1, 82, 82);
    }
}